/* for mobile device */

@media screen and (max-width : 576px) {
    nav, 
    .menu-bar
    {
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        padding: 20px;
        width: auto;
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-img img
    {
        width: 100%;
    }
    
}

/* for tablet device */

@media screen and (min-width : 577px) and (max-width : 992px) {
    
}