/* for mobile device */

@media screen and (max-width : 576px) {
    nav, 
    .menu-bar
    {
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        padding: 20px;
        width: auto;
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-img img,
    .content
    {
        width: 100%;
    }
    .details{
        width: 70%;
        margin: auto;
    }
    .details h1{
        font-size: 4.5rem;
    }
    .banner-title,
    .section-title
    {
        font-size: 2rem;
    }
    .button-container{
        gap: 7px;
    }
    .button-container button{
        padding: 5px 10px;
    }
    
    .we-gamer-section{
        padding: 30px 50px;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .gamer-img{
        width: 100%;
        margin: auto;
    }
    .gamer-img img{
        height: 400px;
        width: 300px;
        margin: auto;
    }
    .gamer-content{ 
        width: 100%;
        padding: 0;
        text-align: left;
    }
    .online-game-container{
        margin-top: 40px;
    }
    .item-container{
        grid-template-columns: 1fr;
    }
    .play-container{
        width: 90%;
        padding: 20px 30px;
        flex-direction: column;
    }
    
    .img-container{
        width: 90%;
        margin-top: -120px;
    }
    .content,
    .online-content > .content
    {
        margin-top: 100px;
        text-align: center;
    }
    .relative-img{
        bottom: 160px;
        right: 50px;
    }
    .relative-img img
    {
        width: 60%;
    }
    .online-content{
        flex-direction: column-reverse;
    }
    .gamer-button-section{
        width: auto;
        padding: 25px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }.gamer-btn{
        width: auto;
        font-size: 0.5rem;
        font-weight: 400;
        padding: 2px;
    }
    .gamer-btn img{
        width: 15px;
        height: 20px;
    }
}

/* for tablet device */

@media screen and (min-width : 577px) and (max-width : 992px) {
    nav
    {
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .banner-container
    {
        width: 80%;
        padding: 20px;
        margin: auto;
    }
    .banner-content,
    .banner-img
    {
        width: 50%;
    }
    .banner-img img{
        width: 100%;
    }
    .details h1{
        font-size: 3.5rem;
    }
    .banner-title,
    .section-title
    {
        font-size: 2.5rem;
    }
    .online-game-container{
        margin-top: 60px;
    }
    .item-container{
        grid-template-columns: 1fr 1fr;
    }
    .play-container{
        width: 90%;
        gap: 30px;
        justify-content: space-between;
    }
    .content{
        margin-top: auto;
        text-align: right;
        width: 50%;
    }
    .relative-img{
        bottom: 160px;
        right: 50px;
    }
    .relative-img img
    {
        width: 60%;
    }
    .online-content{
        width: 85%;
        margin: auto;
    }
    .we-gamer-section{
        padding: 30px;
        justify-content: center;
    }
    .gamer-button-section{
        width: auto;
        padding: 25px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }.gamer-btn{
        width: auto;
        font-size: 0.5rem;
        font-weight: 400;
        padding: 2px;
    }
    .gamer-btn img{
        width: 15px;
        height: 20px;
    }
}