 /* work sans google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

 /* shared styles */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
 }
 .primary-color-text{
    color: #FF42A5;
 }
.color-title{
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
.primary-btn{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background: #FF42A5;
    padding: 15px 20px;
    border: none;
    margin: 20px 0;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 15px 0;
}
 /* header section */
 header{
    width: auto;
 }
 nav{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px;
 }
 .title-icon,
 .banner-content ul li
{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .title-icon img{
    width: 60%;
    object-fit: cover;
 }
 .title-icon h2{
    font-size: 2.8rem;
    font-weight: 700;
 }
 .menu-bar{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;

 }
 .menu-bar a{
    text-decoration: none;
    color: black;
 }
.menu-bar button{
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    
}
.menu-bar button img{
    width: 60%;
}
/* banner section  */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    width: 50%;
    display: flex;
    justify-content: center;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    padding: 80px 0px;
}
.details h1{
    font-size: 6rem;
    font-weight: 800;
}
.details ul{
    list-style: none;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
}
.banner-img img{
    width: 70%;
}
.button-container{
    display: flex;
    gap: 20px;
}
.color-sky{
    background: #4EC5F7;
}
/* we are gamer section */
.we-gamer-section{
    padding: 60px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.gamer-content{
    text-align: right;
}
.gamer-img img{
    width: 100%;
}
/* online game section */
.online-game-container{
    width: 80%;
    margin:120px auto 0px;
    text-align: center;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: left;
}
/* .item{
    position: relative;
} */
.item img{
    width: 100%;
}
/* .item ::before{
    content: "Watch Now" ;
    height: auto;
    width: auto;
    position: absolute;

}
.item :hover{

} */

/* instant-play section */
.play-container{
    width: 80%;
    margin:80px auto 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content{
    width: 30%;
    text-align: right;
    position: relative;
    bottom: 200px;
}
.img-container{
    width: 40%;
}
.img-container>img{
    width: 100%;
}
.relative-img{
    position: relative;
    bottom: 220px;
    right: 150px;
}
/* online game container */
.online-content{
    margin-top: -50px;
}
.online-content > .content{
    text-align: left;
}
/* gamer-button-section */
.gamer-button-section{
    background: #f6d8e7;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.gamer-button-section a{
    text-decoration: none;
}
.gamer-btn{
    background: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 48px;
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.gamer-btn img{
    width: 50px;
    height: 50px;
}
.gamer-button-section a :hover{
    border: 1px solid #FF42A5;

}

/* footer */
footer{
    background: #0B0223;
    color: white;
    text-align: center;
    padding: 100px 0;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-icon img{
    width: 70px;
}
footer a{
    color: white;
    text-decoration: none;
}
.service-list ul,
.social-media,
.secure-list ul
{
    list-style: none;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

 